<header class="header">
  <div class="header__toolbar">
    <mat-toolbar>
      <nav class="header__nav nav">
        <div>
          <img src="../../../assets/images/logo.png" alt="logo" />
        </div>
        <ul class="nav__items">
          <li class="nav__item">Products</li>
          <li class="nav__item">Solutions</li>
          <li class="nav__item">Pricing</li>
          <li class="nav__item">
            <app-button variant="stroke">Login</app-button>
          </li>
          <li class="nav__item">
            <app-button variant="inverted">Get Started</app-button>
          </li>
        </ul>
      </nav>
    </mat-toolbar>
  </div>
</header>
